<table border="5">
  <tr>
    <td> <button (click)="click(1)"> {{clk1}} </button> </td>
    <td><button (click)="click(2)"> {{clk2}} </button></td>
    <td><button (click)="click(3)"> {{clk3}} </button></td>
  </tr>
  <tr>
    <td><button (click)="click(4)"> {{clk4}} </button></td>
    <td><button (click)="click(5)"> {{clk5}} </button></td>
    <td><button (click)="click(6)"> {{clk6}} </button></td>
  </tr>
  <tr>
    <td><button (click)="click(7)"> {{clk7}} </button></td>
    <td><button (click)="click(8)"> {{clk8}} </button></td>
    <td><button (click)="click(9)" > {{clk9}} </button></td>
  </tr>
</table>
